.container {
  display: flex;
  margin-left: 16px;
  flex-direction: column;

  .container-create-company {
    display: flex;
  }

  .container-create {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 350px;
    margin-top: 16px;
  }

  .unit-company {
    display: flex;
    align-items: center;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    padding: 8px;
    gap: 8px;
    margin-top: 16px;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;

    .container-infos {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .container-btns {
      display: flex;
      gap: 8px;
    }
  }
}
