.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 380px;
  border-radius: 8px;
  margin: auto;
  padding: 16px;
  gap: 8px;
  border: 1px solid black;

  .container-btns {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 8px;
    justify-content: flex-end;
  }
}
